<%- include('common/header2'); %>

<div class="row">

    <div id="piechart" class="col-1" >

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        // Load google charts
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Happy', 3],
                ['Anxious', 2],
                ['Sad', 0],
                ['Excited', 1],
                ['Tired', 4],
                ['Average', 4],
                ['Angry', 4],
                ['Lonely', 4]

            ]);

            
            // Optional; add a title and set the width and height of the chart
            var options = { 'width': 650, 'height': 400, 
                            colors: ['<%=settings.happy%>', '<%=settings.anxious%>', '<%=settings.sad%>', '<%=settings.excited%>', '<%=settings.tired%>', '<%=settings.average%>', '<%=settings.angry%>', '<%=settings.lonely%>' ], 
                            legend: 'none', pieSliceText: 'none' };

            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }

    </script>
    </div>
</div>
<%- include('common/footer'); %>